<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
	<body>
        <%- include('../partials/nav.ejs')  %>
		<h1>Edit Tool</h1>
		<form form action="/tools/<%=tool._id%>?_method=PUT" method="POST">
			Num: <input type="text" name="num " value="<%=tool.num%>" /><br />
			Name: <input type="text" name="name" value="<%=tool.name%>"/><br />
            Brand: <input type="text" name="brand" value="<%=tool.brand%>" /><br />
			Description: <input type="textarea" name="descritpion" value="<%=tool.description%>"/><br />
            Date Cal'd: <input type="text" name="dateCal" value="<%=tool.dateCal%>" /><br />
			Date Due: <input type="text" name="dateDue" value="<%=tool.dateDue%>" /><br />
            Inspector: <input type="text" name="inspector" value="<%=tool.inspector%>" /><br />
			<input type="submit" name="" value="Update Tool" />
		</form>
	</body>
	</body>
</html>