<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tool descritpion</title>
</head>

<body>
    <nav>
        <a href="/tools">Back to Index</a>
    </nav>
    <h1>
        <%=tool.num %>
    </h1>
    Name: <%= tool.name%><br />
    Brand: <%= tool.brand%><br />
    Description: <%= tool.description%><br />
    Date Cal'd: <%= tool.dateCal%><br />
    Date Due: <%= tool.dateDue%><br />
    Inspector: <%= tool.inspector%><br />
</body>

</html>