<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    <nav>
        <a href="/tools">Back to Index</a>
        <%if (currentUser){ %> 
        <a href="/tools/<%=tool._id %>/edit">Edit</a>
		<% } %>
    </nav>
    <h1>
        <%=tool.num %>
    </h1>
    Name: <%= tool.name%><br />
    Brand: <%= tool.brand%><br />
    Description: <%= tool.description%><br />
    Date Cal'd: <%= tool.dateCal%><br />
    Date Due: <%= tool.dateDue%><br />
    Inspector: <%= tool.inspector%><br />
</body>

</html>