<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')  %>
	<h1>Home</h1>
	<a href="/tools/new">New</a>

	<ul>
		<% tools.forEach(tool=> { %>
			<li>
				<strong>ID NUM: </strong><%=tool.num%> || <a href="/tools/<%=tool._id; %>">
					 <%=tool.name; %> 
				</a> || CalDue: <%= tool.dateDue%>
				<%if (currentUser){ %>
				<form action="/tools/<%= tool.id %>?_method=DELETE" method="POST" style="display: inline; margin-left: 16px;">
					<input type="submit" value="DELETE"/>
				</form>
				<a href="/tools/<%=tool._id %>/edit">Edit</a>
				<% } %>
			</li>
			<% }) %>

    
</body>

</html>